<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<title>Detalle Elenco</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>

	<body>

		<nav class="nav-extended black">
			<div class="nav-wrapper ">
				<a href="#" class="brand-logo "><img  src="../img/logo3.jpg" alt=""></a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="#"><img  src="../img/vivo.png"></a></li>
					<li><a href="#"><img  src="../img/lupa.png"></a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li><a href="#">Mi cuenta</a></li>
					<li><a href="canal.html">Mi canal</a></li>
					<li><a href="#">Transmisión en vivo</a></li>
					<li><a href="#">Categorías</a></li>
					<li><a href="#">Cerrar Sesión</a></li>
				</ul>
			</div>
		</nav>


		<section class="container">
			<div class="row">
				<br>
				<iframe class="col s12 m12 " width="960" height="515" src="https://www.youtube.com/embed/xOur5hRQhFw" frameborder="0" allowfullscreen></iframe>
			</div>
		</section>

		<section class="container">
			<a href="#"><img src="../img/like.png" alt="like.png"> </a> <span>  90%  </span> <a href="#"><img src="../img/dislike.png" alt=""></a> <span>  10%  </span>
		</section>
		<section class="container">
			<h6 class="">E60 T1 Emisión: 27/01/2017</h6>
			<h5><strong>E60 T1 Emisión: 27/01/2017</strong></h5>

			<p>José Vicente retó a un duelo de muerte a Valencia, sólo uno saldrá <br> vivo del encuentro. ¿Oh no?</p>

		</section>


		<section class="container" id="">
			<hr>
			<p>Perseguidos</p>
			<p>Lunes a Viernes 10:00pm-10:45</p>
			<a href="detalle-elenco.html"><p>Elenco:Mauricio Islas</p></a>
			<hr>
			<br>
		</section>

		<nav class="nav-extended N/A transparent container">
			<div class="nav-wrapper N/A transparent">
				<ul id="nav-mobile" class="right hide-on-med-and-down N/A transparent">
					<li><a href="#"><img  src="../img/lista.png"></a></li><span>Mi lista</span>
					<li><a href="#"><img  src="../img/compartir.png"></a></li>
				</ul>
			</div>
		</nav>

		<section class="container">
			<ul id="dropdown2" class="dropdown-content #757575 grey darken-1">
				<li><a href="#!">one<span class="badge">1</span></a></li>
				<li><a href="#!">two<span class="new badge">1</span></a></li>
				<li><a href="#!">three</a></li>
			</ul>
			<a class="btn dropdown-button #757575 grey darken-1" href="#!" data-activates="dropdown2">Temporadas<i class="material-icons right">arrow_drop_down</i></a>
		</section>

		<h3 class="letraazul">Episodios</h3>
		</div>
	<div class="row">
		<div class="col s4">
			<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
		</div>
		<div class="col s4">
			<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
		</div>
		<div class="col s4">
			<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
		</div>
	</div>
	</section>
<section class="container">
	<div class="row">
		<h3>ENTRETENIMIENTO</h3>
	</div>
	<div class="row">
		<div class="col s4">
			<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
		</div>
		<div class="col s4">
			<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
		</div>
		<div class="col s4">
			<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
		</div>
	</div>
</section>
<section class="container">
	<div class="row">
		<h3>NOTICIAS</h3>
	</div>
	<div class="row">
		<div class="col s4">
			<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
		</div>
		<div class="col s4">
			<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
		</div>
		<div class="col s4">
			<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
		</div>
	</div>
</section>
<section class="container">
	<div class="row">
		<h3>TELESERIES</h3>
	</div>
	<div class="row">
		<div class="col s4">
			<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
		</div>
		<div class="col s4">
			<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
		</div>
		<div class="col s4">
			<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
		</div>
	</div>
</section>
<section class="container">
	<div class="row">
		<h3>DEPORTES</h3>
	</div>
	<div class="row">
		<div class="col s4">
			<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
		</div>
		<div class="col s4">
			<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
		</div>
		<div class="col s4">
			<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
		</div>
	</div>
</section>
<section class="container">
	<div class="row">
		<h3>LO MAS VISTO</h3>
	</div>
	<div class="row">
		<div class="col s4">
			<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
		</div>
		<div class="col s4">
			<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
		</div>
		<div class="col s4">
			<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
		</div>
	</div>
</section>
<section class="container">
	<div class="row">
		<h3>CONTINUAR VIENDO</h3>
	</div>
	<div class="row">
		<div class="col s4">
			<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
		</div>
		<div class="col s4">
			<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
		</div>
		<div class="col s4">
			<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
		</div>
	</div>
</section>
<section class="container">
	<div class="row">
		<h3>NUESTROS PROGRAMAS</h3>
	</div>
	<div class="row">
		<div class="col s4">
			<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
		</div>
		<div class="col s4">
			<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
		</div>
		<div class="col s4">
			<img class="responsive-img" src="https://dummyimage.com/600x400/000/fff" alt="">
		</div>
	</div>
</section>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
<script src="../js/detalle-elenco.js"></script>

</html>
