<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Imagen Digital</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body>
		<div class="slider fullscreen">
			<ul class="slides">
				<li class="blue">
					<img src="../img/saleelsol.jpg" style="background-position: right; opacity: .6; width: 80%;" class="blue"> <!-- random image -->
					<div class="caption center-align">
						<h4>Bienvenid@ <span id="name"></span>!</h4>
						<div class="row">
							<div class="col s8 offset-s2">
								<img src="../img/logo.png" class="responsive-img">
							</div>
						</div>
						<a href="canal.html" class="btn" style="background-color: #E4022E">Continuar</a>
					</div>
				</li>
				<li class="white">
					<img src="../img/elclonportada.jpg" style="background-position: right; opacity: .8; width: 100%;" class="blue"><!-- random image -->
					<div class="caption right-align text-black">
						<h4 class="text-black">Disfruta de</h4>
						<a class="light btn red darken-4 grey-text text-lighten-3" style="border-radius: 30px;"> <i class="material-icons">live_tv</i> Transmisión en vivo</a>
					</div>
				</li>
				<li class="black">
					<img src="../img/noticia.jpg" style="background-position: left; opacity: .4; width: 100%;" class="blue"> <!-- random image -->
					<div class="caption right-align">
						<h4>Elige el contenido de tu interés</h4>
					</div>
				</li>
			</ul>
		</div>


		<script src="https://use.fontawesome.com/75919d6994.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
		<script type="text/javascript" src="../js/bienvenido.js"></script>

	</body>
</html>
