<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
  </head>
  <body>
    <nav class="nav-extended black">
      <div class="nav-wrapper"><a class="brand-logo " href="#"><img src="img/logo3.jpg" alt="logo"></a></div>
    </nav>
    <section class="container">
      <div class="row center" style="margin-top: 15%;"><i class="fa fa-user-circle-o fa-4x" aria-hidden="true" style="color: #2088CA;">
          <h4>Iniciar sesión</h4></i></div>
    </section>
    <section class="container">
      <div class="row"></div>
      <form class="col s12" id="formulario">
        <input type="text" id="correo" placeholder="Correo">
        <input type="text" id="contrasenia" placeholder="Contraseña">
        <div class="row center"><a class="btn red text-white disabled" type="submit" id="ingresar" href="canal.html">Continuar</a></div>
      </form>
      <div class="row center">
        <div class="col offset-s3 s2"><a class="facebook btn-floating"><i class="fa fa-facebook blue darken-3 text-white"></i></a></div>
        <div class="col s2"><a class="twitter btn-floating"><i class="fa fa-twitter blue text-white"></i></a></div>
        <div class="col s2"><a class="google btn-floating"><i class="fa fa-google red text-white"></i></a></div>
      </div>
      <div class="row center"><a href="registro.html">Crear mi cuenta de Imagen TV</a></div>
    </section>
    <script src="../../node_modules/jquery/dist/jquery.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
    <script src="https://use.fontawesome.com/75919d6994.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="../js/inicio-sesion.js"></script>
  </body>
</html>